apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: metabase
  namespace: default
spec:
  interval: 10m0s
  path: ./clusters/rafael/metabase
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
